<div class="row">
  <div class="col-md-4">
    <button [routerLink]="['./../../../files/dossierAnnuel/',id,annee]"  class="button" ><span>Bilan Annuelle</span></button>
  </div>
  <div class="col-md-4">
    <button [routerLink]="['./../../../files/dossierJuridique/',id,annee]" class="button" ><span>Dossier Juridique</span></button>
  </div>
  <div class="col-md-4">
    <button [routerLink]="['./../../../mensuelFolder',id,annee]" class="button" ><span>Dossier Mensuel</span></button>
  </div>
</div>