  <!-- Page wrapper  -->
  <div class="page-wrapper">
         
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- <app-statistique></app-statistique> -->
        <!-- <app-email-compose></app-email-compose> -->
        <!-- <app-email-compose-client></app-email-compose-client> -->
        <!-- <app-email-inbox></app-email-inbox> -->
        <!-- <app-email-read></app-email-read> -->
        <!-- <app-list-collaborateur></app-list-collaborateur>  -->
        <!-- <app-profile-collaborateur></app-profile-collaborateur> -->
        <!-- <app-list-client></app-list-client> -->
        <!-- <app-list-document></app-list-document> -->
        <!-- <app-sous-list-document></app-sous-list-document> -->
        <!-- <app-bilan-mois></app-bilan-mois> -->
        <!-- <app-add-document></app-add-document> -->
        <!-- <app-add-document-admin></app-add-document-admin> -->
        <!-- <app-add-collaborateur></app-add-collaborateur> -->
        <!-- <app-list-client-non-valide></app-list-client-non-valide> -->
        <router-outlet></router-outlet>
    </div>
    <!-- End Container fluid  -->
    <!-- footer -->
    <footer class="footer"> © 2018 All rights reserved. Template designed by <a href="https://colorlib.com/">Colorlib</a></footer>
    <!-- End footer -->
</div>
<!-- End Page wrapper  -->

