 <div class="row">
 <div class="col-md-3">
      <button [routerLink]="['/client/bilanMensuelDetails', annee,'Janvier']" class="button" ><span>Bilan Janvier</span></button>
  </div>
  <div class="col-md-3">
      <button [routerLink]="['/client/bilanMensuelDetails', annee,'Février']" class="button" ><span>Bilan Février</span></button>
  </div>
  <div class="col-md-3">
    <button [routerLink]="['/client/bilanMensuelDetails', annee,'Mars']" class="button" ><span>Bilan Mars</span></button>
</div>
<div class="col-md-3">
  <button [routerLink]="['/client/bilanMensuelDetails', annee,'Avril']" class="button" ><span>Bilan Avril</span></button>
</div>
<div class="col-md-3">
  <button [routerLink]="['/client/bilanMensuelDetails', annee,'Mai']" class="button" ><span>Bilan Mai</span></button>
</div>
<div class="col-md-3">
  <button [routerLink]="['/client/bilanMensuelDetails', annee,'Juin']" class="button" ><span>Bilan Juin</span></button>
</div> 
<div class="col-md-3">
  <button [routerLink]="['/client/bilanMensuelDetails', annee,'Juillet']" class="button" ><span>Bilan Juillet</span></button>
</div>
<div class="col-md-3">
  <button [routerLink]="['/client/bilanMensuelDetails', annee,'Août']" class="button" ><span>Bilan août</span></button>
</div>
<div class="col-md-3">
  <button [routerLink]="['/client/bilanMensuelDetails', annee,'Septembrer']" class="button" ><span>Bilan septembrer</span></button>
</div>
<div class="col-md-3">
  <button [routerLink]="['/client/bilanMensuelDetails', annee,'Octobre']" class="button" ><span>Bilan Octobre</span></button>
</div>
<div class="col-md-3">
  <button [routerLink]="['/client/bilanMensuelDetails', annee,'Novembre']" class="button" ><span>Bilan Novembre</span></button>
</div>
<div class="col-md-3">
  <button [routerLink]="['/client/bilanMensuelDetails', annee,'Décembre']" class="button" ><span>Bilan Décembre</span></button>
</div> 
</div>