<!-- Left Sidebar  -->
<div class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
          <ul id="sidebarnav">
              <li class="nav-devider"></li>
              <li class="nav-label">Home</li>
            
             
              <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-user"></i><span class="hide-menu">Clients</span></a>
                  <ul aria-expanded="false" class="collapse">
                      <li><a routerLink="client-list-attente">Liste d'attente</a></li>
                      <li><a routerLink="client-list">Gerer les clients</a></li>
                  </ul>
              </li>
              <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-id-card"></i><span class="hide-menu">Collaborateurs</span></a>
                <ul aria-expanded="false" class="collapse">
                    <li><a routerLink="collaborateur-new">Nouveau Collaborateur</a></li>
                    <li><a routerLink="collaborateur-list">Gerer les collaborateurs</a></li>
                </ul>
            </li>
            <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-envelope"></i><span class="hide-menu">Email</span></a>
              <ul aria-expanded="false" class="collapse">
                  <li><a routerLink="email-compose">Composer</a></li>
                  <li><a routerLink="email-inbox">Boite de réception</a></li>
              </ul>
          </li>  
              <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-table"></i><span class="hide-menu">Documents</span></a>
                  <ul aria-expanded="false" class="collapse">
                      <li><a routerLink="document-add">Nouveau Document</a></li>
                  </ul>
              </li>
        
              <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-columns"></i><span class="hide-menu">Factures</span></a>
                  <ul aria-expanded="false" class="collapse">
                      <li><a href="layout-blank.html">Nouveau Facture</a></li>
                      <li><a href="layout-blank.html">Factures Non Payées</a></li>
                      <li><a href="layout-boxed.html">Factures Payées</a></li>
                     
                  </ul>
              </li>
              <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-table"></i><span class="hide-menu">Actualités</span></a>
                <ul aria-expanded="false" class="collapse">
                    <li><a routerLink="document-add-news">Nouveau Document</a></li>
                    <li><a routerLink="document-actualite">Liste des Actualités</a></li>
                </ul>
            </li>
            <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-table"></i><span class="hide-menu">Conventions</span></a>
                <ul aria-expanded="false" class="collapse">
                    <li><a routerLink="document-add-news">Nouveau Document</a></li>
                    <li><a routerLink="document-convention">Liste des Conventions</a></li>
                </ul>
            </li>
            
  
          </ul>
      </nav>
      <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</div>
<!-- End Left Sidebar  -->
