<div class="theme-inner-banner" style="background-image:url(assetshome/sites/default/files/background/inner-banner.jpg)">
  <div class="opacity">
      <div class="container">
         <p>Nos expertises</p>
          <h2>Conseil fiscal et assistance juridique</h2>
          
          <div id="block-inobi-breadcrumbs">
              <ul>
                  <li>
                      <a [routerLink]="['../home']">Accueil</a>
                  </li>
                  <li>.</li>
                  <li>Nos expertises</li>
              </ul>
          </div>
      </div>
  </div>
</div>
<div class="about-us-page section-margin-bottom">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-md-8 col-xs-12 float-right">
              <div id="block-inobi-content">
                  <article data-history-node-id="42" role="article" about="/about-us" typeof="schema:WebPage" class="article">
                      <span property="schema:name" content="About us" class="rdf-meta hidden"></span>
                      <div>
                          <div class="details-page-overview">
                             
                              <p>Nous défendons les intérêts de nos clients et les accompagnons dans la réussite de leurs opérations nationales et internationales, tant en matière fiscale que juridique.</p>
                              <p>Nous vous proposons une capacité d’intervention pluridisciplinaire, en mobilisant nos équipes spécialistes de la fiscalité, du droit des affaires et du droit du travail :</p>
                            
                          <div class="row">
                            <div class="col-lg-6">
                                <ul>
                                    <li>Fiscalité des sociétés</li>
                                    <li>Fiscalité internationale</li>
                                    <li>Fiscalité des fusions-acquisitions</li>
                                    <li>Fiscalité de la transmission d’entreprises</li>
                                    <li>Stratégie fiscale</li>
                                    <li>Prix de transfert</li>
                                    <li>Taxe sur la valeur ajoutée</li>
                                    <li>Droit douanier</li>
                                    <li>Impôts locaux</li>
                                    <li>Fiscalité personnelle</li>
                                    <li>Gestion de la mobilité internationale</li>
                                    <li>Contrôles et contentieux fiscaux</li>
                                    <li>Fiscalité immobilière</li>
                                    <li>Fiscalité des produits financiers</li>
                                    <li>Financements structurés</li>
                                   
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li>Droit des sociétés</li>
                                    <li>Droit commercial</li>
                                    <li>Droit des contrats</li>
                                    <li>Droit boursier et réglementaire</li>
                                    <li>Fusions-acquisitions</li>
                                    <li>Transmission d’entreprises</li>
                                    <li>Entreprises en difficultés</li>
                                    <li>Droit de la concurrence et de la distribution</li>
                                    <li>Droit du travail, droit social, immigration</li>
                                    <li>Droit des assurances</li>
                                    <li>Droit de l’immobilier</li>
                                    <li>Droit de l’environnement</li>
                                    <li>Droit de la propriété intellectuelle</li>
                                    <li>Droit public</li>
                                   
                                </ul>
                            </div>

                          </div>
                        
                       
                          </div>
                      </div>
                  </article>
              </div>
          </div>

      </div>
  </div>
</div>
<div class="views-element-container client-section section-margin-bottom" id="block-views-block-inobi-section-content-block-testimonial-logo-3">
  <div>
      <div class="container">
          <div class="row">
              <div class="col-md-7 col-xs-12">
                  <div class="client-slider-content">
                      <h3>Client Say</h3>
                      <div class="client-slider owl-carousel sliderImgs owl-loaded">
                          <div class="item">
                              <div class="wrapper">
                                  <div class="name">
                                      <p>
                                          Mahfuz Riad
                                          <span>( CEO )</span>
                                      </p>
                                      <div class="icon">
                                          <img src="assetshome/sites/default/files/styles/image28x36/public/2018-05/4_0d99d.jpg?itok=hGfjN7k-" alt="Mahfuz Riad"/>
                                      </div>
                                  </div>
                                  <div class="text">
                                      <h5>Great Service Inobi</h5>
                                      <p>Incredibly easy to use them and extremely versatile! This is one of the best quality themes I have purchased. I’m impressed with the features. Of note, customer service was very friendly,</p>
                                  </div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="wrapper">
                                  <div class="name">
                                      <p>
                                          Rainer Maria
                                          <span>( CEO )</span>
                                      </p>
                                      <div class="icon">
                                          <img src="assetshome/sites/default/files/styles/image28x36/public/2018-05/5_0d931.jpg?itok=RvOLkMj2" alt="Rainer Maria"/>
                                      </div>
                                  </div>
                                  <div class="text">
                                      <h5>Great Service Inobi</h5>
                                      <p>Incredibly easy to use them and extremely versatile! This is one of the best quality themes I have purchased. I’m impressed with the features. Of note, customer service was very friendly,</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="views-element-container">
                  <div class="col-md-5 col-xs-12">
                      <div class="our-partner">
                          <h3>Our partner</h3>
                          <div class="row">
                              <div class="col-md-6 col-sm-3 col-xs-6">
                                  <img src="assetshome/sites/default/files/styles/image200x112/public/logo/p45359.jpg?itok=Rid2Kw5X" alt="Image alt"/>
                              </div>
                              <div class="col-md-6 col-sm-3 col-xs-6">
                                  <img src="assetshome/sites/default/files/styles/image200x112/public/logo/p17ba5.jpg?itok=EunJZnqc" alt="Image alt"/>
                              </div>
                              <div class="col-md-6 col-sm-3 col-xs-6">
                                  <img src="assetshome/sites/default/files/styles/image200x112/public/logo/p279f1.jpg?itok=bbS-jro8" alt="Image alt"/>
                              </div>
                              <div class="col-md-6 col-sm-3 col-xs-6">
                                  <img src="assetshome/sites/default/files/styles/image200x112/public/logo/p304dc.jpg?itok=pESaPtwm" alt="Image alt"/>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
