<div class="theme-inner-banner" style="background-image:url(assetshome/sites/default/files/background/inner-banner.jpg)">
  <div class="opacity">
      <div class="container">
          <p>Nos expertises</p>
          <h2>Conseil en management</h2>
    
          <div id="block-inobi-breadcrumbs">
              <ul>
                  <li>
                      <a [routerLink]="['../home']">Accueil</a>
                  </li>
                  <li>.</li>
                  <li>Nos expertises</li>
              </ul>
          </div>
      </div>
  </div>
</div>
<div class="about-us-page section-margin-bottom">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-md-8 col-xs-12 float-right">
              <div id="block-inobi-content">
                  <article data-history-node-id="42" role="article" about="/about-us" typeof="schema:WebPage" class="article">
                      <span property="schema:name" content="About us" class="rdf-meta hidden"></span>
                      <div>
                          <div class="details-page-overview">
                              <p>Le conseil en management chez PwC Tunisie c’est accompagner les entreprises et institutions publiques dans le cadre de projets de transformation et d’optimisation de leur modèle opérationnel : gouvernance, processus, organisation, capital humain, technologie, gestion des risques, audit interne …</p><p>Fortes de leurs compétences sectorielles et de leurs expertises métiers, nes équipes de conseil en management poursuivent une seule ambition : être les architectes de la réussite de leurs clients.</p><p>Pour vous apporter des réponses à forte valeur ajoutée et vous aider à les mettre en œuvre, nous constituons, pour vos projets, des équipes pluridisciplinaires structurées autour des domaines de compétence suivants :&nbsp;</p>

                              <h3>Fonction Finance</h3>
                              <p>Optimiser et transformer la fonction finance pour améliorer la performance de l’organisation</p>
                              <ul>
                                  <li>Conception et mise en place de dispositifs de pilotage, de reporting et de mesure des performances&nbsp;</li>
                                  <li>Contribution et mise en place des méthodes et outils améliorant le pilotage de la rentabilité des produits et activités (règles de gestion, comptabilité analytique, …)</li>
                                  <li>Amélioration des prévisions de flux de trésorerie et de la gestion du cash flow,&nbsp; organisation de la gestion de la trésorerie, optimisation du BFR</li>
                                  <li>Garantie de la cohérence, de la qualité et de la conformité de l'information financière, réduction des délais de clôture</li>
                                  <li>Augmentation de la performance de la fonction finance, mise en place de Centres de Services Partagés</li>
                                  
                              </ul>
                       
                          </div>
                      </div>
                  </article>
              </div>
          </div>

      </div>
  </div>
</div>



<div class="views-element-container client-section section-margin-bottom" id="block-views-block-inobi-section-content-block-testimonial-logo-3">
    <div>
        <div class="container">
            <div class="row">
              
                <div class="col-lg-12 col-md-8 col-xs-12 float-right">
                    <div id="block-inobi-content">
                        <article data-history-node-id="42" role="article" about="/about-us" typeof="schema:WebPage" class="article">
                            <span property="schema:name" content="About us" class="rdf-meta hidden"></span>
                            <div>
                                <div class="details-page-overview">
      
                                    <h3>Transformation Opérationnelle</h3>
                                    <p>Aider nos clients à atteindre l’excellence opérationnelle (dans les domaines suivants : R&D, marketing, supply chain, commercial, relation clients, organisation)</p>
                                    <ul>
                                        <li>Structuration et accompagnement des plans de transformation</li>
                                        <li>Maîtrise de l’innovation, construction des outils de pilotage de la R&amp;D</li>
                                        <li>Construction et pilotage des offres (produit / promesse client /pricing/commercialisation)</li>
                                        <li>Pilotage de la fonction commerciale et des processus de vente</li>
                                        <li>Amélioration du pilotage de la relation clients, mise en œuvre de solutions CRM</li>
                                        <li>Pilotage de la chaîne logistique</li>
                                        
                                    </ul>
                             
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="about-us-page section-margin-bottom">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 col-md-8 col-xs-12 float-right">
                  <div id="block-inobi-content">
                      <article data-history-node-id="42" role="article" about="/about-us" typeof="schema:WebPage" class="article">
                          <span property="schema:name" content="About us" class="rdf-meta hidden"></span>
                          <div>
                              <div class="details-page-overview">
    
                                  <h3>Ressources humaines et conduite du changement</h3>
                                  <p>Faire de la gestion des ressources humaines un facteur de compétitivité et accompagner les projets de transformation</p>
                                  <ul>
                                      <li>Mobiliser autour de la stratégie et impulser le changement</li>
                                      <li>Piloter et accompagner les projets de transformation</li>
                                      <li>Professionnaliser et pérenniser le changement</li>
                                      <li>Concevoir et mettre en place l’organisation qui garantira les meilleurs résultats</li>
                                      <li>Renforcer l’efficacité des pratiques managériales</li>
                                      <li>Accélérer l’acquisition de nouvelles compétences</li>
                                      <li>Identifier, développer et fidéliser les collaborateurs clés</li>
                                      <li>Optimiser l’organisation et les processus RH</li>
                                      
                                  </ul>
                           
                              </div>
                          </div>
                      </article>
                  </div>
              </div>
    
          </div>
      </div>
    </div>




    <div class="views-element-container client-section section-margin-bottom" id="block-views-block-inobi-section-content-block-testimonial-logo-3">
        <div>
            <div class="container">
                <div class="row">
                  
                    <div class="col-lg-12 col-md-8 col-xs-12 float-right">
                        <div id="block-inobi-content">
                            <article data-history-node-id="42" role="article" about="/about-us" typeof="schema:WebPage" class="article">
                                <span property="schema:name" content="About us" class="rdf-meta hidden"></span>
                                <div>
                                    <div class="details-page-overview">
          
                                        <h3>Système d'Information</h3>
                                        <p>Maximiser la contribution du système d‘information à l'atteinte des objectifs stratégiques et à l'amélioration de l'efficacité opérationnelle</p>
                                        <ul>
                                            <li>Élaboration de plans d’évolution du système d’information&nbsp; dans &nbsp;le respect des principes de gouvernance et de maîtrise des risques et de contrôle</li>
                                            <li>Évaluation et amélioration de l'organisation et des processus de &nbsp;la fonction informatique, rationalisation et mutualisation des moyens informatiques</li>
                                            <li>Évaluation et amélioration de la qualité des données du système d’information, exploitation de celles-ci pour améliorer la performance des processus métiers</li>
                                            <li>Cadrage, pilotage et sécurisation des projets de transformation informatique, renforcement de la maîtrise des risques</li>
                                        </ul>
                                 
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="about-us-page section-margin-bottom">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 col-md-8 col-xs-12 float-right">
                      <div id="block-inobi-content">
                          <article data-history-node-id="42" role="article" about="/about-us" typeof="schema:WebPage" class="article">
                              <span property="schema:name" content="About us" class="rdf-meta hidden"></span>
                              <div>
                                  <div class="details-page-overview">
        
                                      <h3>Gouvernance, risques, contrôle interne, conformité</h3>
                                      <p>Mettre en place les dispositifs et processus permettant la maîtrise des risques</p>
                                      <ul>
                                          <li>Maîtrise des risques : comment mieux anticiper et gérer l’incertitude, élaborer une cartographie des risques</li>
                                          <li>Optimisation du contrôle interne des organisations</li>
                                          <li>Conformité aux lois, règlements et référentiels internes, organisation de la fonction «compliance&nbsp;»</li>
                                          <li>Certification pour le compte de tiers et communication sur la fiabilité des dispositifs de contrôle interne</li>
                                          <li>Gouvernance et sécurité des systèmes d’information</li>
                                          <li>Prise en compte des enjeux de contrôle interne dans la gestion des projets</li>
                                          <li>Sécurité et contrôle des&nbsp; systèmes d’information et des ERP</li>
                                      </ul>
                               
                                  </div>
                              </div>
                          </article>
                      </div>
                  </div>
        
              </div>
          </div>
        </div>
    

        

        <div class="views-element-container client-section section-margin-bottom" id="block-views-block-inobi-section-content-block-testimonial-logo-3">
            <div>
                <div class="container">
                    <div class="row">
                      
                        <div class="col-lg-12 col-md-8 col-xs-12 float-right">
                            <div id="block-inobi-content">
                                <article data-history-node-id="42" role="article" about="/about-us" typeof="schema:WebPage" class="article">
                                    <span property="schema:name" content="About us" class="rdf-meta hidden"></span>
                                    <div>
                                        <div class="details-page-overview">
              
                                            <h3>Litiges et investigations</h3>
                                            <p>Gérer les contentieux et arbitrages, les litiges liés aux transactions, conduire des investigations dans un contexte de fraude</p>
                                            <ul>
                                                <li>Chiffrer les dommages et préjudices subis dans le cadre de procédures contentieuses ou d’arbitrage</li>
                                                <li>Accompagner les procédures amiables, judiciaires et les procédures d’arbitrage&nbsp; par des expertises et des témoignages devant les tribunaux</li>
                                                <li>Contribuer à la résolution des litiges liés aux transactions (prix de cession définitif, garanties de passif, earn-out)</li>
                                                <li>Mener des investigations dans un contexte de fraude, de détournement ou de corruption, compliance FCPA</li>
                                            </ul>
                                     
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="about-us-page section-margin-bottom">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-12 col-md-8 col-xs-12 float-right">
                          <div id="block-inobi-content">
                              <article data-history-node-id="42" role="article" about="/about-us" typeof="schema:WebPage" class="article">
                                  <span property="schema:name" content="About us" class="rdf-meta hidden"></span>
                                  <div>
                                      <div class="details-page-overview">
            
                                          <h3>Accompagnement du service d'audit interne</h3>
                                          <p>Aider les services d’audit interne à répondre aux nouveaux enjeux de maîtrise des risques, de gouvernance et d’efficacité opérationnelle</p>
                                          <ul>
                                              <li>Créer et développer une fonction d’audit interne performante répondant aux attentes des Directions générales et des Comités d’audit</li>
                                              <li>Disposer des ressources adéquates pour réaliser le plan d’audit</li>
                                              <li>Contribuer à la bonne gouvernance et à l’amélioration du contrôle interne</li>
                                              <li>Améliorer la performance de la fonction audit interne</li>
                                              <li>Développer les compétences des auditeurs internes</li>
                                              <li>Aider à mener des missions d’audit interne à forte expertise et valeur ajoutée</li>
                                          </ul>
                                   
                                      </div>
                                  </div>
                              </article>
                          </div>
                      </div>
            
                  </div>
              </div>
            </div>
        

            
            <div class="views-element-container client-section section-margin-bottom" id="block-views-block-inobi-section-content-block-testimonial-logo-3">
                <div>
                    <div class="container">
                        <div class="row">
                          
                            <div class="col-lg-12 col-md-8 col-xs-12 float-right">
                                <div id="block-inobi-content">
                                    <article data-history-node-id="42" role="article" about="/about-us" typeof="schema:WebPage" class="article">
                                        <span property="schema:name" content="About us" class="rdf-meta hidden"></span>
                                        <div>
                                            <div class="details-page-overview">
                  
                                                <h3>Risk et Value Mesurement Services</h3>
                                                <p>Apporter des réponses concrètes aux problématiques posées par les nouvelles réglementations bancaires et assurance et aider les entreprises dans l'amélioration de leurs dispositifs de valorisation et de pilotage des risques financiers</p>
                                                <ul>
                                                    <li>Assistance à&nbsp; la mise en place du calcul du capital réglementaire Bâle 2 et Solvabilité II, des ratios de liquidité Bâle 3</li>
                                                    <li>Assistance à la mise en place et la revue de modèle de risques et de provisionnement</li>
                                                    <li>Évaluation des risques des activités d'assurance</li>
                                                    <li>Amélioration du dispositif de valorisation et de contrôle de valorisation des instruments financiers</li>
                                                    <li>Assistance à l'amélioration du dispositif de gestion et de pilotage des risques (dispositif de taux de cession&nbsp; interne, gestion actif passif, tarification, ...)</li>
                                                </ul>
                                         
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="about-us-page section-margin-bottom">
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-12 col-md-8 col-xs-12 float-right">
                              <div id="block-inobi-content">
                                  <article data-history-node-id="42" role="article" about="/about-us" typeof="schema:WebPage" class="article">
                                      <span property="schema:name" content="About us" class="rdf-meta hidden"></span>
                                      <div>
                                          <div class="details-page-overview">
                
                                              <h3>Capital Market et Accounting Advisory Services</h3>
                                              <p>Optimiser, anticiper, piloter, sécuriser la gestion des enjeux techniques et opérationnels de l'information comptable et financière et la gestion de l'environnement réglementaire des marchés financiers</p>
                                              <ul>
                                                  <li>Anticiper les difficultés liées à toute décision ou signature de contrats majeurs, et résoudre les problématiques comptables et fiscalo-comptables complexes</li>
                                                  <li>Accompagner ou conduire les projets liés à l'application de nouvelles normes comptables, aider à comprendre les enjeux des futures normes comptables et les moyens d’actions</li>
                                                  <li>Gérer les enjeux comptables et réglementaires liés à une transaction et à la préparation d'informations financières ad hoc (carve-out, pro forma, special purpose financial information, …)</li>
                                                  <li>Accompagner, conduire ou sécuriser les opérations de financement sur les marchés (notamment IPO, OPA, émissions obligataires) et de placements privés (type High Yield)</li>
                                                  <li>Construire, optimiser ou sécuriser la communication financière,&nbsp;qu’elle réponde à des enjeux réglementaires (y compris développement durable) ou aux attentes des investisseurs</li>
                                                  <li>Gérer les enjeux comptables liés aux nouvelles contraintes réglementaires (Bâle III et Solvency II) et à l'application de nouvelles normes comptables aux institutions financières (instruments financiers, consolidation &amp; entités ad hoc, …)</li>
                                              </ul>
                                       
                                          </div>
                                      </div>
                                  </article>
                              </div>
                          </div>
                
                      </div>
                  </div>
                </div>
            

                



<div class="views-element-container client-section section-margin-bottom" id="block-views-block-inobi-section-content-block-testimonial-logo-3">
  <div>
      <div class="container">
          <div class="row">
              <div class="col-md-7 col-xs-12">
                  <div class="client-slider-content">
                      <h3>Client Say</h3>
                      <div class="client-slider owl-carousel sliderImgs owl-loaded">
                          <div class="item">
                              <div class="wrapper">
                                  <div class="name">
                                      <p>
                                          Mahfuz Riad
                                          <span>( CEO )</span>
                                      </p>
                                      <div class="icon">
                                          <img src="assetshome/sites/default/files/styles/image28x36/public/2018-05/4_0d99d.jpg?itok=hGfjN7k-" alt="Mahfuz Riad"/>
                                      </div>
                                  </div>
                                  <div class="text">
                                      <h5>Great Service Inobi</h5>
                                      <p>Incredibly easy to use them and extremely versatile! This is one of the best quality themes I have purchased. I’m impressed with the features. Of note, customer service was very friendly,</p>
                                  </div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="wrapper">
                                  <div class="name">
                                      <p>
                                          Rainer Maria
                                          <span>( CEO )</span>
                                      </p>
                                      <div class="icon">
                                          <img src="assetshome/sites/default/files/styles/image28x36/public/2018-05/5_0d931.jpg?itok=RvOLkMj2" alt="Rainer Maria"/>
                                      </div>
                                  </div>
                                  <div class="text">
                                      <h5>Great Service Inobi</h5>
                                      <p>Incredibly easy to use them and extremely versatile! This is one of the best quality themes I have purchased. I’m impressed with the features. Of note, customer service was very friendly,</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="views-element-container">
                  <div class="col-md-5 col-xs-12">
                      <div class="our-partner">
                          <h3>Our partner</h3>
                          <div class="row">
                              <div class="col-md-6 col-sm-3 col-xs-6">
                                  <img src="assetshome/sites/default/files/styles/image200x112/public/logo/p45359.jpg?itok=Rid2Kw5X" alt="Image alt"/>
                              </div>
                              <div class="col-md-6 col-sm-3 col-xs-6">
                                  <img src="assetshome/sites/default/files/styles/image200x112/public/logo/p17ba5.jpg?itok=EunJZnqc" alt="Image alt"/>
                              </div>
                              <div class="col-md-6 col-sm-3 col-xs-6">
                                  <img src="assetshome/sites/default/files/styles/image200x112/public/logo/p279f1.jpg?itok=bbS-jro8" alt="Image alt"/>
                              </div>
                              <div class="col-md-6 col-sm-3 col-xs-6">
                                  <img src="assetshome/sites/default/files/styles/image200x112/public/logo/p304dc.jpg?itok=pESaPtwm" alt="Image alt"/>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
