<!-- Left Sidebar  -->
<div class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li class="nav-label">Home</li>
              <li> <a class="has-arrow  "  aria-expanded="false"><i class="fa fa-envelope"></i><span class="hide-menu">Email</span></a>
                <ul aria-expanded="false" class="collapse">
                    <li><a routerLink="email-compose">Composer</a></li>
                    <li><a routerLink="email-inbox">Boite de Réception</a></li>
                </ul>
            </li>

         
                <li> <a class="has-arrow  "  aria-expanded="false"><i class="fa fa-table"></i><span class="hide-menu">Documents</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLink="document-add">Nouveau Document</a></li>
                        <li><a routerLink="document">Documents</a></li>
                    </ul>
                </li>
          
                <li> <a class="has-arrow"  aria-expanded="false"><i class="fa fa-columns"></i><span class="hide-menu">Factures</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="layout-blank.html">Nouveau Facture</a></li>
                        <li><a href="layout-blank.html">Factures Non Payées</a></li>
                        <li><a href="layout-boxed.html">Factures Payées</a></li>
                       
                    </ul>
                </li>
              
    
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </div>
  <!-- End Left Sidebar  -->
  