
<div id="block-homeslider1">
    <div id="md-slider-1-block" class="md-slide-items" style="min-height:680px" data-thumb-height="100" data-thumb-width="100">
        <div class="wrap-loader-slider animated">
            <div class="wrap-cube">
                <div class="sk-cube-grid">
                    <div class="sk-cube sk-cube1"></div>
                    <div class="sk-cube sk-cube2"></div>
                    <div class="sk-cube sk-cube3"></div>
                    <div class="sk-cube sk-cube4"></div>
                    <div class="sk-cube sk-cube5"></div>
                    <div class="sk-cube sk-cube6"></div>
                    <div class="sk-cube sk-cube7"></div>
                    <div class="sk-cube sk-cube8"></div>
                    <div class="sk-cube sk-cube9"></div>
                </div>
            </div>
        </div>
        <div class="md-slide-item md-layer-1-1" data-timeout="8000" data-transition="strip-up-right,strip-right-down,top-curtain" data-thumb-type="image" data-thumb-alt="">
            <div class="md-main-img" style="">
                <img src="assetshome/sites/default/files/styles/image1349x680/public/md-slider-image/slide-1_05beb.jpg?itok=LKk9-w6f" alt="slider" />
            </div>
            <div class="md-slider-overlay" style="background: rgba(4, 3, 3, 0.5)"></div>
            <div class="md-objects">
                <div class="md-object md-layer-1-1-0" data-x="103" data-y="205" data-width="238" data-height="24" data-start="300" data-stop="8000" data-easein="fadeInUp">Inpire Your Business</div>
                <div class="md-object md-layer-1-1-1" data-x="100" data-y="253" data-width="730" data-height="50" data-start="700" data-stop="8000" data-easein="fadeInUp">START CREATE YOUR</div>
                <div class="md-object md-layer-1-1-2" data-x="102" data-y="324" data-width="447" data-height="50" data-start="1100" data-stop="8000" data-easein="fadeInUp">B2B BUSINESS TOGETHER</div>
                <div class="md-object md-layer-1-1-3" data-x="103" data-y="416" data-width="100" data-height="20" data-start="1600" data-stop="8000" data-easein="fadeInLeft" data-paddingtop="16" data-paddingright="35" data-paddingbottom="16" data-paddingleft="35">
                    <a href="#">Get More</a>
                </div>
                <div class="md-object md-layer-1-1-4" data-x="295" data-y="416" data-width="100" data-height="18" data-start="1600" data-stop="8000" data-easein="fadeInRight" data-paddingtop="16" data-paddingright="35" data-paddingbottom="16" data-paddingleft="35">
                    <a href="#">Contact Us</a>
                </div>
            </div>
        </div>
        <div class="md-slide-item md-layer-1-2" data-timeout="8000" data-transition="strip-left-up,strip-right-left-up,strip-up-down-right" data-thumb="http://inobiz.drupalet.com/sites/default/files/styles/thumbnail/public/md-slider-image/slide-2.jpg?itok=O9PdR8Ld" data-thumb-type="image" data-thumb-alt="">
            <div class="md-main-img" style="">
                <img src="assetshome/sites/default/files/styles/image1349x680/public/md-slider-image/slide-23a07.jpg?itok=pjUaj-Y3" alt="slider" />
            </div>
            <div class="md-slider-overlay" style="background: rgba(4, 3, 3, 0.5)"></div>
            <div class="md-objects">
                <div class="md-object md-layer-1-2-0" data-x="103" data-y="205" data-width="238" data-height="24" data-start="300" data-stop="8000" data-easein="fadeInUp">Inpire Your Business</div>
                <div class="md-object md-layer-1-2-1" data-x="100" data-y="253" data-width="730" data-height="50" data-start="700" data-stop="8000" data-easein="fadeInUp">START CREATE YOUR</div>
                <div class="md-object md-layer-1-2-2" data-x="102" data-y="324" data-width="447" data-height="50" data-start="1100" data-stop="8000" data-easein="fadeInUp">B2B BUSINESS TOGETHER</div>
                <div class="md-object md-layer-1-2-3" data-x="103" data-y="416" data-width="100" data-height="20" data-start="1600" data-stop="8000" data-easein="fadeInLeft" data-paddingtop="16" data-paddingright="35" data-paddingbottom="16" data-paddingleft="35">
                    <a href="#">Get More</a>
                </div>
                <div class="md-object md-layer-1-2-4" data-x="295" data-y="416" data-width="100" data-height="18" data-start="1600" data-stop="8000" data-easein="fadeInRight" data-paddingtop="16" data-paddingright="35" data-paddingbottom="16" data-paddingleft="35">
                    <a href="#">Contact Us</a>
                </div>
            </div>
        </div>
        <div class="md-slide-item md-layer-1-3" data-timeout="8000" data-transition="strip-left-up,strip-right-left-up,strip-up-down-right" data-thumb="http://inobiz.drupalet.com/sites/default/files/styles/thumbnail/public/md-slider-image/slide-3.jpg?itok=UQjK67cB" data-thumb-type="image" data-thumb-alt="">
            <div class="md-main-img" style="">
                <img src="assetshome/sites/default/files/styles/image1349x680/public/md-slider-image/slide-3534a.jpg?itok=A2DhZOdj" alt="slider" />
            </div>
            <div class="md-slider-overlay" style="background: rgba(4, 3, 3, 0.5)"></div>
            <div class="md-objects">
                <div class="md-object md-layer-1-3-0" data-x="103" data-y="205" data-width="238" data-height="24" data-start="300" data-stop="8000" data-easein="fadeInUp">Inpire Your Business</div>
                <div class="md-object md-layer-1-3-1" data-x="100" data-y="253" data-width="730" data-height="50" data-start="700" data-stop="8000" data-easein="fadeInUp">START CREATE YOUR</div>
                <div class="md-object md-layer-1-3-2" data-x="102" data-y="324" data-width="447" data-height="50" data-start="1100" data-stop="8000" data-easein="fadeInUp">B2B BUSINESS TOGETHER</div>
                <div class="md-object md-layer-1-3-3" data-x="103" data-y="415" data-width="100" data-height="20" data-start="1600" data-stop="8000" data-easein="fadeInLeft" data-paddingtop="16" data-paddingright="35" data-paddingbottom="16" data-paddingleft="35">
                    <a href="#">Get More</a>
                </div>
                <div class="md-object md-layer-1-3-4" data-x="295" data-y="415" data-width="100" data-height="18" data-start="1600" data-stop="8000" data-easein="fadeInRight" data-paddingtop="16" data-paddingright="35" data-paddingbottom="16" data-paddingleft="35">
                    <a href="#">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="block-inobi-content">
    <article data-history-node-id="37" role="article" about="/home1" class="article">
        <div></div>
    </article>
</div>
<div class="views-element-container our-service section-margin-bottom-two" id="block-views-block-inobi-section-content-block-services">
    <div>
        <div class="container">
            <div class="theme-title">
                <h2>Business Services</h2>
                <p>
                    How workforce development programs turn talent puddles into talent pools , Hiring isn’t easy. Employers<br />
                    might get hundreds
                </p>
                <a href="services-0.html" class="theme-button-one">See More Services</a>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-service">
                        <div class="image">
                            <img src="assetshome/sites/default/files/styles/image370x207/public/services/78914.jpg?itok=j5E5VTZo" alt="Web Development"/>
                        </div>
                        <div class="text">
                            <h4>
                                <a [routerLink]="['../about']">ACM Tunisie</a>
                                <i class="flaticon-devices"></i>
                            </h4>
                            <p>Investir en Tunisie</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-service">
                        <div class="image">
                            <img src="assetshome/sites/default/files/styles/image370x207/public/services/78914.jpg?itok=j5E5VTZo" alt="Web Development"/>
                        </div>
                        <div class="text">
                            <h4>
                                <a [routerLink]="['../expertise']">Nos expertises</a>
                                <i class="flaticon-devices"></i>
                            </h4>
                            <p>Découvrez nos expertises pour vous accompagner</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-service">
                        <div class="image">
                            <img src="assetshome/sites/default/files/styles/image370x207/public/services/107941.jpg?itok=ptdt9GE-" alt="Business Consulting"/>
                        </div>
                        <div class="text">
                            <h4>
                                <a [routerLink]="['../carriere']">Carrières</a>
                                <i class="flaticon-upload"></i>
                            </h4>
                            <p>Rejoignez nos équipes en Tunisie</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="block-inobiblockconsultantbanner" class="consultant-banner section-margin-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8 col-xs-12">
                <h3>Are You Ready for the Talent Consultant ?</h3>
                <p>How workforce development programs turn talent puddles into talent pools , Hiring isn’t easy. Employers might get hundreds</p>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <a href="#" class="theme-button-one float-right">Try It Now</a>
            </div>
        </div>
    </div>
</div>
<!-- <div id="block-inobiblockourservice" class="our-service section-margin-bottom-two">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-service">
                    <div class="text">
                        <h4>
                            <a href="#">Top Services</a>
                            <span>01</span>
                        </h4>
                        <p>Interdum iusto pulvinar consequuntur augue optio repellat fuga Purus expedita fusce temp oribus.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-service">
                    <div class="text">
                        <h4>
                            <a href="#">Business Consulting</a>
                            <span>02</span>
                        </h4>
                        <p>Interdum iusto pulvinar consequuntur augue optio repellat fuga Purus expedita fusce temp oribus.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-service">
                    <div class="text">
                        <h4>
                            <a href="#">Expert Team Mates</a>
                            <span>03</span>
                        </h4>
                        <p>Interdum iusto pulvinar consequuntur augue optio repellat fuga Purus expedita fusce temp oribus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div id="block-weconsultiblockcontacthome" class="consultation-help clearfix section-margin-bottom">
    <div class="container">
        <div class="theme-title">
            <h2>Simulateur de salaire NET 2018</h2>
            <p>Insérer les champs ci-dessus puis cliquer sur le boutton pour calculer le salaire net selon le nouveau barème d'imposition des revenus des personnes physiques (Loi de finances 2018) .</p>
        </div>
    </div>
    <div class="clearfix">
        <div class="section-part float-left">
            <div class="consultation-form-wrapper float-right col">
                <form class="contact-message-consultation-help-from-form contact-message-form contact-form" data-user-info-from-browser data-drupal-selector="contact-message-consultation-help-from-form" action="http://inobiz.drupalet.com/home1" method="post" id="contact-message-consultation-help-from-form" accept-charset="UTF-8">
                    <div class="field--type-list-string field--name-field-investment-plan field--widget-options-select js-form-wrapper form-wrapper" data-drupal-selector="edit-field-investment-plan-wrapper" id="edit-field-investment-plan-wrapper">
                        <div class="js-form-item form-item js-form-type-homepage form-type-homepage js-form-item-field-investment-plan form-item-field-investment-plan">
                            <label for="edit-field-investment-plan">Chef de famille</label>
                            <select data-drupal-selector="edit-field-investment-plan" id="edit-field-investment-plan" name="field_investment_plan" class="form-select">
                                <option value="0">- Non -</option>
                                <option value="1">- Oui -</option>
                         
                            </select>
                        </div>
                    </div>
                    <div class="js-form-item form-item js-form-type-homepage form-type-homepage js-form-item-name form-item-name">
                        <label for="edit-name" class="js-form-required form-required">Nombre d'enfants</label>
                        <input  type="number" id="edit-name"  class="form-text required" required="required" aria-required="true" />
                    </div>
                    <div class="field--type-language field--name-langcode field--widget-language-select js-form-wrapper form-wrapper" data-drupal-selector="edit-langcode-wrapper" id="edit-langcode-wrapper"></div>
                    <div class="js-form-item form-item js-form-type-homepage form-type-homepage ">
                        <label for="edit-mail" class="js-form-required form-required">Salaire brut</label>
                        <input type="number" id="edit-mail"  required="required" aria-required="true" />
                    </div>
                    <div class="field--type-telephone field--name-field-phone field--widget-telephone-default js-form-wrapper form-wrapper" data-drupal-selector="edit-field-phone-wrapper" id="edit-field-phone-wrapper">
                        <div class="js-form-item form-item js-form-type-homepage form-type-homepage ">
                            <label for="edit-field-phone-0-value">Montants déductibles annuels (Intérêts, …)</label>
                            <input type="number" id="edit-field-phone-0-value"   />
                        </div>
                    </div>
                    <div  class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
                        <input data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Calculer le salaire net" class="button button--primary js-form-submit form-submit theme-button-one p-bg-color" />
                    </div>
                </form>
            </div>
        </div>
        <div class="section-part float-left text-wrapper">
            <div class="opacity clearfix">
                <div class="col float-left">
                    <h3>
                        27 Years of<br />
                        Experience in
                        <span class="p-color">Finance</span><br />
                        &amp; Business
                    </h3>
                    <p>Hiring isn’t easy. Employers might get hundreds — sometimes thousands — of resumes for a single open position and still, somehow, hire the wrong</p>
                    <a href="service.html" class="theme-button-one">See Services</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="views-element-container client-section section-margin-bottom" id="block-views-block-inobi-section-content-block-testimonial-logo">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-xs-12">
                    <div class="client-slider-content">
                        <h3>Client Say</h3>
                        <div class="client-slider owl-carousel sliderImgs owl-loaded">
                            <div class="item">
                                <div class="wrapper">
                                    <div class="name">
                                        <p>
                                            Mahfuz Riad
                                            <span>( CEO )</span>
                                        </p>
                                        <div class="icon">
                                            <img src="assetshome/sites/default/files/styles/image28x36/public/2018-05/4_0d99d.jpg?itok=hGfjN7k-" alt="Mahfuz Riad"/>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <h5>Great Service Inobi</h5>
                                        <p>Incredibly easy to use them and extremely versatile! This is one of the best quality themes I have purchased. I’m impressed with the features. Of note, customer service was very friendly,</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="wrapper">
                                    <div class="name">
                                        <p>
                                            Rainer Maria
                                            <span>( CEO )</span>
                                        </p>
                                        <div class="icon">
                                            <img src="assetshome/sites/default/files/styles/image28x36/public/2018-05/5_0d931.jpg?itok=RvOLkMj2" alt="Rainer Maria"/>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <h5>Great Service Inobi</h5>
                                        <p>Incredibly easy to use them and extremely versatile! This is one of the best quality themes I have purchased. I’m impressed with the features. Of note, customer service was very friendly,</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="views-element-container">
                    <div class="col-md-5 col-xs-12">
                        <div class="our-partner">
                            <h3>Our partner</h3>
                            <div class="row">
                                <div class="col-md-6 col-sm-3 col-xs-6">
                                    <img src="assetshome/sites/default/files/styles/image200x112/public/logo/p45359.jpg?itok=Rid2Kw5X" alt="Image alt"/>
                                </div>
                                <div class="col-md-6 col-sm-3 col-xs-6">
                                    <img src="assetshome/sites/default/files/styles/image200x112/public/logo/p17ba5.jpg?itok=EunJZnqc" alt="Image alt"/>
                                </div>
                                <div class="col-md-6 col-sm-3 col-xs-6">
                                    <img src="assetshome/sites/default/files/styles/image200x112/public/logo/p279f1.jpg?itok=bbS-jro8" alt="Image alt"/>
                                </div>
                                <div class="col-md-6 col-sm-3 col-xs-6">
                                    <img src="assetshome/sites/default/files/styles/image200x112/public/logo/p304dc.jpg?itok=pESaPtwm" alt="Image alt"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="views-element-container our-blog section-margin-bottom-two" id="block-views-block-inobi-section-content-block-blog">
    <div>
        <div class="container">
            <div class="theme-title">
                <h2>Our News</h2>
                <p>
                    Our newst facts from our media office, programs turn talent puddles into talent pools , Hiring isn’t<br />
                    easy. Employers might get hundreds
                </p>
                <a href="blog.html" class="theme-button-one">See More News</a>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-blog">
                        <div class="image">
                            <img src="assetshome/sites/default/files/styles/image370x207/public/blog/19ab7.jpg?itok=8U3WoRYZ" alt="Mauris volutpat aliquam tellus"/>
                        </div>
                        <div class="text">
                            <div class="date">22 May 2018</div>
                            <h4>
                                <a href="mauris-volutpat-aliquam-tellus.html">Mauris volutpat aliquam tellus</a>
                            </h4>
                            By Mahfuz Riad
                            <a href="mauris-volutpat-aliquam-tellus.html" class="view-more">
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-blog">
                        <div class="image">
                            <img src="assetshome/sites/default/files/styles/image370x207/public/blog/9c525.jpg?itok=twQ8JjZj" alt="Vestibulum convallis eros et"/>
                        </div>
                        <div class="text">
                            <div class="date">22 May 2018</div>
                            <h4>
                                <a href="vestibulum-convallis-eros-et.html">Vestibulum convallis eros et</a>
                            </h4>
                            By Mahfuz Riad
                            <a href="vestibulum-convallis-eros-et.html" class="view-more">
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-blog">
                        <div class="image">
                            <img src="assetshome/sites/default/files/styles/image370x207/public/blog/8928b.jpg?itok=pM2UN7Y3" alt="Pellentesque vitae aliquam mauris"/>
                        </div>
                        <div class="text">
                            <div class="date">22 May 2018</div>
                            <h4>
                                <a href="pellentesque-vitae-aliquam-mauris.html">Pellentesque vitae aliquam mauris</a>
                            </h4>
                            By Mahfuz Riad
                            <a href="pellentesque-vitae-aliquam-mauris.html" class="view-more">
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
