<div class="theme-inner-banner" style="background-image:url(assetshome/sites/default/files/background/inner-banner.jpg)">
  <div class="opacity">
      <div class="container">
         <p>Nos expertises</p>
          <h2>Audit et certification des comptes</h2>
          
          <div id="block-inobi-breadcrumbs">
              <ul>
                  <li>
                      <a [routerLink]="['../home']">Accueil</a>
                  </li>
                  <li>.</li>
                  <li>Nos expertises</li>
              </ul>
          </div>
      </div>
  </div>
</div>
<div class="about-us-page section-margin-bottom">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-md-8 col-xs-12 float-right">
              <div id="block-inobi-content">
                  <article data-history-node-id="42" role="article" about="/about-us" typeof="schema:WebPage" class="article">
                      <span property="schema:name" content="About us" class="rdf-meta hidden"></span>
                      <div>
                          <div class="details-page-overview">
                             
                              <p>Notre offre Audit financier est basée sur une méthodologie conforme aux standards internationaux d’audit ISA. Suite aux programmes de formation et au partage permanent des connaissances avec les entités du réseau PwC International Ltd, la méthodologie PwC est intégralement appliquée par les équipes tunisiennes.</p>
                              <p>Conformément aux standards locaux et internationaux d’audit et à la politique interne PwC, des missions d’audits qualité internes sont planifiées ponctuellement au niveau de l’entité tunisienne.</p>
                              <p>Nous ne tolérons aucun comportement contraire à nos valeurs et à nos standards. La qualité des services et la gestion des risques sont incluses dans les évaluations des performances de nos associés.</p>
                              <p>Nos collaborateurs sont diplômés des meilleures écoles de commerce et universités tunisiennes et étrangères et bénéficient de formations annuelles tant localement qu’en France et dans d’autres pays (méthodologie d’audit, principes comptables, développement personnel, expertises sectorielles, ...). Ils témoignent d’une grande maîtrise du référentiel comptable local, des IFRS et des US GAAP et sont assistés par des experts afin de répondre aux problématiques spécifiques à nos clients :</p>
                          
                              <ul>
                                  <li>Experts juridiques et fiscaux</li>
                                  <li>Systems Process Assurance (SPA) : experts et ingénieurs en audit informatique et en audit des systèmes d’information.</li>
                                 
                              </ul>
                       
                          </div>
                      </div>
                  </article>
              </div>
          </div>

      </div>
  </div>
</div>
<div class="views-element-container client-section section-margin-bottom" id="block-views-block-inobi-section-content-block-testimonial-logo-3">
  <div>
      <div class="container">
          <div class="row">
              <div class="col-md-7 col-xs-12">
                  <div class="client-slider-content">
                      <h3>Client Say</h3>
                      <div class="client-slider owl-carousel sliderImgs owl-loaded">
                          <div class="item">
                              <div class="wrapper">
                                  <div class="name">
                                      <p>
                                          Mahfuz Riad
                                          <span>( CEO )</span>
                                      </p>
                                      <div class="icon">
                                          <img src="assetshome/sites/default/files/styles/image28x36/public/2018-05/4_0d99d.jpg?itok=hGfjN7k-" alt="Mahfuz Riad"/>
                                      </div>
                                  </div>
                                  <div class="text">
                                      <h5>Great Service Inobi</h5>
                                      <p>Incredibly easy to use them and extremely versatile! This is one of the best quality themes I have purchased. I’m impressed with the features. Of note, customer service was very friendly,</p>
                                  </div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="wrapper">
                                  <div class="name">
                                      <p>
                                          Rainer Maria
                                          <span>( CEO )</span>
                                      </p>
                                      <div class="icon">
                                          <img src="assetshome/sites/default/files/styles/image28x36/public/2018-05/5_0d931.jpg?itok=RvOLkMj2" alt="Rainer Maria"/>
                                      </div>
                                  </div>
                                  <div class="text">
                                      <h5>Great Service Inobi</h5>
                                      <p>Incredibly easy to use them and extremely versatile! This is one of the best quality themes I have purchased. I’m impressed with the features. Of note, customer service was very friendly,</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="views-element-container">
                  <div class="col-md-5 col-xs-12">
                      <div class="our-partner">
                          <h3>Our partner</h3>
                          <div class="row">
                              <div class="col-md-6 col-sm-3 col-xs-6">
                                  <img src="assetshome/sites/default/files/styles/image200x112/public/logo/p45359.jpg?itok=Rid2Kw5X" alt="Image alt"/>
                              </div>
                              <div class="col-md-6 col-sm-3 col-xs-6">
                                  <img src="assetshome/sites/default/files/styles/image200x112/public/logo/p17ba5.jpg?itok=EunJZnqc" alt="Image alt"/>
                              </div>
                              <div class="col-md-6 col-sm-3 col-xs-6">
                                  <img src="assetshome/sites/default/files/styles/image200x112/public/logo/p279f1.jpg?itok=bbS-jro8" alt="Image alt"/>
                              </div>
                              <div class="col-md-6 col-sm-3 col-xs-6">
                                  <img src="assetshome/sites/default/files/styles/image200x112/public/logo/p304dc.jpg?itok=pESaPtwm" alt="Image alt"/>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
