
<link href="/assets/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">

<link href="/assets/css/lib/calendar2/semantic.ui.min.css" rel="stylesheet">
<link href="/assets/css/lib/calendar2/pignose.calendar.min.css" rel="stylesheet">
<link href="/assets/css/lib/owl.carousel.min.css" rel="stylesheet" />
<link href="/assets/css/lib/owl.theme.default.min.css" rel="stylesheet" />
<link href="/assets/css/helper.css" rel="stylesheet">
<link href="/assets/css/style.css" rel="stylesheet">


  <!-- Main wrapper  -->
  <div id="main-wrapper">
      <app-navbar-admin></app-navbar-admin> 
      <app-admin-left-sidebar></app-admin-left-sidebar>                  
      <app-admin-page-content></app-admin-page-content>
  </div>
  <!-- End Wrapper -->
 
