<div class="theme-inner-banner" style="background-image:url(assetshome/sites/default/files/background/inner-banner.jpg)">
  <div class="opacity">
      <div class="container">
         <p>Nos expertises</p>
          <h2>Services aux entrepreneurs</h2>
          
          <div id="block-inobi-breadcrumbs">
              <ul>
                  <li>
                      <a [routerLink]="['../home']">Accueil</a>
                  </li>
                  <li>.</li>
                  <li>Nos expertises</li>
              </ul>
          </div>
      </div>
  </div>
</div>

<div class="views-element-container client-section section-margin-bottom" id="block-views-block-inobi-section-content-block-testimonial-logo-3">
    <div>
        <div class="container">
            <div class="row">
              
                <div class="col-lg-12 col-md-8 col-xs-12 float-right">
                    <div id="block-inobi-content">
                        <article data-history-node-id="42" role="article" about="/about-us" typeof="schema:WebPage" class="article">
                            <span property="schema:name" content="About us" class="rdf-meta hidden"></span>
                            <div>
                                <div class="details-page-overview">
      
                                    <h3>Une approche adaptée à vos enjeux</h3>
                                    <p>Nous accompagnons les entreprises dans toutes les étapes de leur projet d’acquisition : identification de cibles, aide aux négociations, évaluation, due diligence et intégration post acquisition</p>
                                    <p>Afin de vous conseiller au mieux, nos équipes de spécialistes combinent à la fois expertise en transactions et connaissances sectorielles.</p>
                                    <p>Parce que vous projets de déploiements concernent la Tunisie mais aussi l’international, nous avons capacité de mobiliser et coordonner des équipes en Tunisie et à l’International, pour vous assister dans vos projets.</p>
                                    <p>Notre pôle « transactions » propose une offre de conseil complète, à dimension internationale, pour accompagner ses clients dans toutes les étapes de la vie de l’entreprise.</p>
                                    <p>Une organisation flexible qui permet d’être plus proche de vos enjeux de croissance :</p>
                                    <ul>
                                        <li>constituer une équipe adaptée à chacune de vos transactions ;</li>
                                        <li>vous offrir une prestation intégrée, en matière de due diligence financière, opérationnelle et de marché ;</li>
                                        <li>vous faire bénéficier de l’expérience et de l’expertise sectorielle de l’ensemble du réseau international de PwC Transaction Services.</li>
                                    </ul>
                             
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>


<div class="about-us-page section-margin-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-8 col-xs-12 float-right">
                <div id="block-inobi-content">
                    <article data-history-node-id="42" role="article" about="/about-us" typeof="schema:WebPage" class="article">
                        <span property="schema:name" content="About us" class="rdf-meta hidden"></span>
                        <div>
                            <div class="details-page-overview">
  
                                <h3>Notre offre en transaction services</h3>
                                <p>Due diligence financière, juridique, fiscale, opérationnelle ou de marché</p>
                                <p>Analyse des caractéristiques clés de la cible, optimisation de la transaction et réussite de son intégration.</p>
                                <p>Conseil juridique et fiscal, dans le cadre de transactions</p>
                                <p>Fusions et acquisitions</p>
                                <p>Accompagnement des entreprises et des fonds d’investissement tout au long de leurs opérations d’acquisition, de vente et de rapprochement.</p>
                                <p>Évaluation</p>
                                <p>Aide aux entreprises pour mesurer la valeur de leurs actifs et fiabiliser leurs décisions stratégiques.</p>
                         
                            </div>
                        </div>
                    </article>
                </div>
            </div>
  
        </div>
    </div>
  </div>
  
  
  


    <div class="views-element-container client-section section-margin-bottom" id="block-views-block-inobi-section-content-block-testimonial-logo-3">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-xs-12">
                        <div class="client-slider-content">
                            <h3>Client Say</h3>
                            <div class="client-slider owl-carousel sliderImgs owl-loaded">
                                <div class="item">
                                    <div class="wrapper">
                                        <div class="name">
                                            <p>
                                                Mahfuz Riad
                                                <span>( CEO )</span>
                                            </p>
                                            <div class="icon">
                                                <img src="assetshome/sites/default/files/styles/image28x36/public/2018-05/4_0d99d.jpg?itok=hGfjN7k-" alt="Mahfuz Riad"/>
                                            </div>
                                        </div>
                                        <div class="text">
                                            <h5>Great Service Inobi</h5>
                                            <p>Incredibly easy to use them and extremely versatile! This is one of the best quality themes I have purchased. I’m impressed with the features. Of note, customer service was very friendly,</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="wrapper">
                                        <div class="name">
                                            <p>
                                                Rainer Maria
                                                <span>( CEO )</span>
                                            </p>
                                            <div class="icon">
                                                <img src="assetshome/sites/default/files/styles/image28x36/public/2018-05/5_0d931.jpg?itok=RvOLkMj2" alt="Rainer Maria"/>
                                            </div>
                                        </div>
                                        <div class="text">
                                            <h5>Great Service Inobi</h5>
                                            <p>Incredibly easy to use them and extremely versatile! This is one of the best quality themes I have purchased. I’m impressed with the features. Of note, customer service was very friendly,</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="views-element-container">
                        <div class="col-md-5 col-xs-12">
                            <div class="our-partner">
                                <h3>Our partner</h3>
                                <div class="row">
                                    <div class="col-md-6 col-sm-3 col-xs-6">
                                        <img src="assetshome/sites/default/files/styles/image200x112/public/logo/p45359.jpg?itok=Rid2Kw5X" alt="Image alt"/>
                                    </div>
                                    <div class="col-md-6 col-sm-3 col-xs-6">
                                        <img src="assetshome/sites/default/files/styles/image200x112/public/logo/p17ba5.jpg?itok=EunJZnqc" alt="Image alt"/>
                                    </div>
                                    <div class="col-md-6 col-sm-3 col-xs-6">
                                        <img src="assetshome/sites/default/files/styles/image200x112/public/logo/p279f1.jpg?itok=bbS-jro8" alt="Image alt"/>
                                    </div>
                                    <div class="col-md-6 col-sm-3 col-xs-6">
                                        <img src="assetshome/sites/default/files/styles/image200x112/public/logo/p304dc.jpg?itok=pESaPtwm" alt="Image alt"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      