<div class="theme-inner-banner" style="background-image:url(assetshome/sites/default/files/background/inner-banner.jpg)">
  <div class="opacity">
      <div class="container">
          
          <h2>Africa consulting and management</h2>
          <p>Qui sommes nous</p>
          <div id="block-inobi-breadcrumbs">
              <ul>
                  <li>
                      <a [routerLink]="['../home']">Accueil</a>
                  </li>
                  <li>.</li>
                  <li>AMC Tunisie</li>
              </ul>
          </div>
      </div>
  </div>
</div>
<div class="about-us-page section-margin-bottom">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-md-8 col-xs-12 float-right">
              <div id="block-inobi-content">
                  <article data-history-node-id="42" role="article" about="/about-us" typeof="schema:WebPage" class="article">
                      <span property="schema:name" content="About us" class="rdf-meta hidden"></span>
                      <div>
                          <div class="details-page-overview">
                              <h2>Présentation de la société</h2>
                              <p>Le Réseau AMC, leader mondial des services intellectuels est représenté par une équipe pluridisciplinaire de 180 collaborateurs et associés dédiée au marché tunisien dans les domaines de l’audit, des conseils juridiques et fiscaux, de l’expertise comptable, du conseil en management et en transactions.</p>
                              <p>Forts d’une expérience de plus de trente ans acquise auprès de l'ensemble des acteurs économiques du pays, PwC possède une très bonne connaissance de l'environnement juridique, fiscal, économique et financier Tunisien.</p>
                              <p>Nous développons en Tunisie des missions d’audit, d’expertise comptable et de conseil pour des entreprises de toutes tailles et de toutes typologies : entreprises privées, institutions financières, gouvernement et organismes publics.</p>
                              <p>Notre approche sectorielle et pluridisciplinaire assure confiance et valeur ajoutée pour nos clients et l’ensemble des parties prenantes.</p>
                              <h3>Quelles sont les expertises sur lesquelles nous intervenons ?</h3>
                              <ul>
                                  <li><a [routerLink]="['../audit-et-certification']">Audit et certification des comptes</a></li>
                                  <li><a [routerLink]="['../assistance-juridique']">Assistance Juridique et Conseil Fiscal</a></li>
                                  <li><a [routerLink]="['../conseil-en-management']">Conseil en Management</a></li>
                                  <li><a [routerLink]="['../services-aux-entrepreneurs']">Services aux entrepreneurs</a></li>
                                  <li><a [routerLink]="['../conseil-en-transactions']">Conseil en Transactions</a></li>
                                  
                              </ul>
                       
                          </div>
                      </div>
                  </article>
              </div>
          </div>

      </div>
  </div>
</div>
<div class="views-element-container client-section section-margin-bottom" id="block-views-block-inobi-section-content-block-testimonial-logo-3">
  <div>
      <div class="container">
          <div class="row">
              <div class="col-md-7 col-xs-12">
                  <div class="client-slider-content">
                      <h3>Client Say</h3>
                      <div class="client-slider owl-carousel sliderImgs owl-loaded">
                          <div class="item">
                              <div class="wrapper">
                                  <div class="name">
                                      <p>
                                          Mahfuz Riad
                                          <span>( CEO )</span>
                                      </p>
                                      <div class="icon">
                                          <img src="assetshome/sites/default/files/styles/image28x36/public/2018-05/4_0d99d.jpg?itok=hGfjN7k-" alt="Mahfuz Riad"/>
                                      </div>
                                  </div>
                                  <div class="text">
                                      <h5>Great Service Inobi</h5>
                                      <p>Incredibly easy to use them and extremely versatile! This is one of the best quality themes I have purchased. I’m impressed with the features. Of note, customer service was very friendly,</p>
                                  </div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="wrapper">
                                  <div class="name">
                                      <p>
                                          Rainer Maria
                                          <span>( CEO )</span>
                                      </p>
                                      <div class="icon">
                                          <img src="assetshome/sites/default/files/styles/image28x36/public/2018-05/5_0d931.jpg?itok=RvOLkMj2" alt="Rainer Maria"/>
                                      </div>
                                  </div>
                                  <div class="text">
                                      <h5>Great Service Inobi</h5>
                                      <p>Incredibly easy to use them and extremely versatile! This is one of the best quality themes I have purchased. I’m impressed with the features. Of note, customer service was very friendly,</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="views-element-container">
                  <div class="col-md-5 col-xs-12">
                      <div class="our-partner">
                          <h3>Our partner</h3>
                          <div class="row">
                              <div class="col-md-6 col-sm-3 col-xs-6">
                                  <img src="assetshome/sites/default/files/styles/image200x112/public/logo/p45359.jpg?itok=Rid2Kw5X" alt="Image alt"/>
                              </div>
                              <div class="col-md-6 col-sm-3 col-xs-6">
                                  <img src="assetshome/sites/default/files/styles/image200x112/public/logo/p17ba5.jpg?itok=EunJZnqc" alt="Image alt"/>
                              </div>
                              <div class="col-md-6 col-sm-3 col-xs-6">
                                  <img src="assetshome/sites/default/files/styles/image200x112/public/logo/p279f1.jpg?itok=bbS-jro8" alt="Image alt"/>
                              </div>
                              <div class="col-md-6 col-sm-3 col-xs-6">
                                  <img src="assetshome/sites/default/files/styles/image200x112/public/logo/p304dc.jpg?itok=pESaPtwm" alt="Image alt"/>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
