  .my-drop-zone {
      border: dotted 3px lightgray;
  }

  .nv-file-over {
      border: dotted 3px red;
  }

  .another-file-over-class {
      border: dotted 3px green;
  }
  #body{
      margin-bottom: 100px ; 
  }
  .pell-content {
    height: 250px !important ;
  }