<div class="row">
  <div class="col-md-3">
       <button [routerLink]="['/admin/files/Janvier',id,annee]" class="button" ><span>Bilan Janvier</span></button>
   </div>
   <div class="col-md-3">
       <button [routerLink]="['/admin/files/Février',id,annee]" class="button" ><span>Bilan Février</span></button>
   </div>
   <div class="col-md-3">
     <button [routerLink]="['/admin/files/Mars',id,annee]" class="button" ><span>Bilan Mars</span></button>
 </div>
 <div class="col-md-3">
   <button [routerLink]="['/admin/files/Avril',id,annee]" class="button" ><span>Bilan Avril</span></button>
 </div>
 <div class="col-md-3">
   <button [routerLink]="['/admin/files/Mai',id,annee]" class="button" ><span>Bilan Mai</span></button>
 </div>
 <div class="col-md-3">
   <button [routerLink]="['/admin/files/Juin',id,annee]" class="button" ><span>Bilan Juin</span></button>
 </div> 
 <div class="col-md-3">
   <button [routerLink]="['/admin/files/Juillet',id,annee]" class="button" ><span>Bilan Juillet</span></button>
 </div>
 <div class="col-md-3">
   <button [routerLink]="['/admin/files/Août',id,annee]" class="button" ><span>Bilan août</span></button>
 </div>
 <div class="col-md-3">
   <button [routerLink]="['/admin/files/Septembrer',id,annee]" class="button" ><span>Bilan septembrer</span></button>
 </div>
 <div class="col-md-3">
   <button [routerLink]="['/admin/files/Octobre',id,annee]" class="button" ><span>Bilan Octobre</span></button>
 </div>
 <div class="col-md-3">
   <button [routerLink]="['/admin/files/Novembre',id,annee]" class="button" ><span>Bilan Novembre</span></button>
 </div>
 <div class="col-md-3">
   <button [routerLink]="['/admin/files/Décembre',id,annee]" class="button" ><span>Bilan Décembre</span></button>
 </div> 
 </div>